
.DS_Store

Lista_02/zad_05

Lista_02/zad_04

Lista_02/zad_06

*.out

.vscode/

__private__/

Lista_01 copy/zad_01

Lista_01 copy/zad_02

Lista_01 copy/zad_03

Lista_01 copy/zad_04

Lista_01 copy/zad_06

Lista_01 copy/zad_07

*.zip

Lista_02/zad_12

Lista_02/zad_13

Lista_01/zad_03

Lista_01/zad_01

Lista_09/zad_02
